<header
  class="bg-[#0D1117] p-4 flex justify-between items-center border-b-2 border-[#34495e] shadow-lg fixed top-0 w-full z-10"
>
  <h1 class="text-3xl font-bold m-0">
    <a href="/" class="text-lime-400 transition-colors hover:animate-pulse">
      Mini SNS
    </a>
  </h1>

  <% if (username) { %>
  <div class="flex items-center space-x-4">
    <a
      href="/friends/list"
      class="text-cyan-400 hover:text-white transition-colors font-semibold"
      >Friends</a
    >
    <span
      class="text-base font-semibold text-lime-400 hidden sm:inline flex items-center gap-2"
    >
      <% if (typeof avatarPath !== 'undefined' && avatarPath) { %>
      <img
        src="<%= avatarPath %>"
        alt="Avatar"
        class="w-8 h-8 rounded-full border border-cyan-500 object-cover inline-block mr-2"
      />
      <% } %>
      <span class="text-cyan-500">
        <a href="/profile" class="hover:text-white hover:animate-pulse"
          ><%= username %></a
        >
      </span>
    </span>

    <a
      href="/logout"
      class="bg-red-500 hover:bg-red-800 text-white text-sm font-semibold py-2 px-4 rounded-full transition-colors shadow-md"
    >
      Logout
    </a>
  </div>
  <% } %>
</header>
